body {
  background-color: black;
}
 .textvk{
	color: blue;
	text-decoration: none;
}

 .texttelegram{
	color: #00ffff;
	text-decoration: none;
}

 .textok{
	color: #ffae00;
	text-decoration: none;
}

 .photos{
	width: 25px;
	height: 25px;
}